[Unit]
Description=KVM agent collects data and send it to central server
ConditionPathExists=!/run/ostree-booted
After=network-online.target
After=libvirtd.service
Documentation=https://gitlabe2.ext.net.nokia.com/nice/kvmagent

[Service]

# It might be required to change the target URL
# Environment="TARGET_URL=https://<something fancy>"

# The interval to check for changes - Default is 60 seconds
# Environment="CHECK_INTERVAL=60"

ExecStart=/usr/bin/kvmagent

[Install]
WantedBy=multi-user.target